.footer {
    background-color: transparent;
    position: absolute;
    display: inline-block;
    bottom: 0;
    padding: 10px 30px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint-up("md") {
        padding: 10px 50px;
        text-align: right;
        right: 0;
        transform: translateX(0);
    }

    &__credit {
        margin: 0;
        font-weight: 300;
        font-size: $font-xs;
    }
}